<!-- =====================================================
     HOTEL MANAGEMENT SYSTEM

     Footer Component

===================================================== -->


<footer class="footer">



    <div class="footer-left">


        <p>


            ©
            <span id="currentYear"></span>

            Hotel Management System.


            All rights reserved.


        </p>


    </div>







    <div class="footer-right">


        <p>


            Version 1.0.0


        </p>



    </div>




</footer>