<div id="appModal" class="modal-overlay d-none">

    <div class="modal-container">

        <div class="modal-header">

            <h3 id="modalTitle">
                Modal Title
            </h3>

            <button type="button" class="modal-close" onclick="Modal.close()">

                &times;

            </button>

        </div>

        <div id="modalBody" class="modal-body">

        </div>

        <div id="modalFooter" class="modal-footer">

            <button class="btn btn-secondary" onclick="Modal.close()">

                Close

            </button>

        </div>

    </div>

</div>