<!-- =====================================================
     HOTEL MANAGEMENT SYSTEM

     Navbar Component

===================================================== -->


<header class="navbar">



    <!-- Left Section -->


    <div class="navbar-left">


        <!-- Mobile Menu Button -->


        <button 
        class="sidebar-toggle"
        onclick="toggleSidebar()">


            <i class="fa-solid fa-bars"></i>


        </button>





        <div class="navbar-title">


            <h3>

                Hotel Management System

            </h3>


        </div>



    </div>






    <!-- Right Section -->


    <div class="navbar-right">





        <!-- Search -->


        <div class="navbar-search">


            <input

            type="text"

            placeholder="Search..."

            class="search-input">


            <button>


                <i class="fa-solid fa-search"></i>


            </button>



        </div>








        <!-- Notification -->


        <div class="notification-box">



            <button 
            class="icon-button">


                <i class="fa-solid fa-bell"></i>



                <span class="notification-count" hidden></span>



            </button>



        </div>









        <!-- User Profile -->


        <div class="user-profile">



            <div class="user-avatar">


                <i class="fa-solid fa-user"></i>


            </div>





            <div class="user-info">


                <h5 id="navbarUserName">


                </h5>



                <span id="navbarUserRole">


                </span>



            </div>





            <button 
            class="profile-toggle">


                <i class="fa-solid fa-chevron-down"></i>


            </button>



        </div>







        <!-- Profile Dropdown -->


        <div class="profile-dropdown"
        id="profileDropdown">



            <a href="#">


                <i class="fa-solid fa-user"></i>


                Profile


            </a>





            <a href="#">


                <i class="fa-solid fa-gear"></i>


                Settings


            </a>





            <button 
            onclick="logout()">



                <i class="fa-solid fa-right-from-bracket"></i>


                Logout



            </button>




        </div>




    </div>




</header>
